#inscription .init {
    background: #f9dcf7;
}

#inscription .elem-1 {
    background: #abf0fc;
}

#inscription .elem-2 {
    background: #aad3fc;
}

#inscription .elem-3 {
    background: #dbb6fc;
}

#inscription .ado-avance {
    background: #ddfbd0;
}

#inscription .ado-contempo {
    background: #fef7c0;
}

#inscription .adulte-avance {
    background: #fecdc0;
}

#inscription .adulte-contempo {
    background: #fadfac;
}

#inscription .barre {
    background: #fef2e8;
}

#inscription .inscription-dates {
    margin: 1rem 0 2rem 0;
}

#inscription .section-row:nth-of-type(2) .section-content-center {
    background-color: var(--grey-light);
    box-shadow: var(--shadow);
    border-radius: 3px;
}

.form-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#inscription label {
    margin-bottom: 1.5rem;
}

#inscription .info-contact label,
#inscription .participant-identity-1 label,
#inscription .participant-identity-2 label,
#inscription .participant-identity-3 label {
    width: 100%;
}

#inscription h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Half-width fields */
#inscription form input,
#inscription form select,
#inscription form textarea {
    background-color: var(--white);
    width: 96%;
}

/* Age Buttons */
#inscription input[type="radio"] + span {
    display: inline-block;
    padding: 0.7rem 1rem;
    background-color: var(--grey-extra-light);
    border-radius: 3px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 8rem;
}

/* Cours Common Space */
#inscription .class-option {
    /*width: 26.5rem;*/
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 2rem;
}

/* Cours Buttons */
#inscription .form-single-input.checkboxes span {
    display: inline-block;
    padding: 0.7rem 1rem;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    font-size: 14px;
    box-shadow: var(--shadow);
    width: 10rem;
    text-align: center;
}

#inscription .section-content-center .section-text {
    width: 100%;
}

#inscription .form-message {
    margin: 3rem 2rem 0;
}

#inscription .success {
    display: none;
}

#inscription .error {
    display: none;
    color: red;
}

#inscription #validation-message {
    margin-bottom: 1rem;
}

#inscription #validation-message .choose-class {
    display: none;
}

#inscription .form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem;
    transition: height 0.6s ease;
    overflow: hidden;
}

#inscription .form-group {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 0!important;
}

#inscription fieldset {
    padding: 0;
}

#inscription h3 {
    margin: 5rem 0 2rem 0;
}



#inscription .form-single-input.checkboxes input[type="checkbox"]:checked + span,
#inscription .form-single-input.radio-buttons input[type="radio"]:checked + span {
    background-color: var(--primary-color);
    color: var(--white);
}

#inscription .participant-age-1 label span:active,
#inscription .participant-age-2 label span:active,
#inscription .participant-age-3 label span:active,
#inscription .form-single-input.checkboxes span:active {
    background-color: var(--grey-dark);
    color: var(--black);
}

#inscription .participant-age-1 label span:hover,
#inscription .participant-age-2 label span:hover,
#inscription .participant-age-3 label span:hover,
#inscription .form-single-input.checkboxes span:hover {
    background-color: var(--grey-medium);
    color: var(--white);
}

#inscription .info-contact h3 {
    margin: 0 0 2rem 0;
}

#inscription .participant-1,
#inscription .participant-2,
#inscription .participant-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#inscription .participant-identity-1,
#inscription .participant-identity-2,
#inscription .participant-identity-3 {
    display: flex;
    flex-direction: column;
}

#inscription .same-name {
    margin-top: 1rem;
}

#inscription .same-name-checkbox-label {
    display: flex;
    justify-content: left;
    align-items: center;
}

#inscription .same-name-checkbox-label input[type="checkbox"] {
    width: 0.9rem;
    height: 0.9rem;
    margin: 0 0.5rem;
}

#inscription .radio-buttons input[type="radio"] {
    display: none;
}

#inscription .participant-age-1 .age-buttons,
#inscription .participant-age-2 .age-buttons,
#inscription .participant-age-3 .age-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}



#inscription .participant-age-1 label span,
#inscription .participant-age-2 label span,
#inscription .participant-age-3 label span {
    font-size: 14px;
    padding: 0.7rem 2rem;
    border-radius: 3px;
    background-color: var(--grey-extra-light);
    transition: all 0.3s;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#inscription input[type="radio"] {
    display: none;
}

#inscription .participant-1,
#inscription .participant-2,
#inscription .participant-3 {
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease, margin 0.4s ease;
}

#inscription #age-sections-container-1,
#inscription #age-sections-container-2,
#inscription #age-sections-container-3 {
    position: relative;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}

#inscription .add-remove-participant {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#inscription .add-participant,
#inscription .remove-participant {
    display: flex;
    align-items: center;
    color: var(--black);
    font-weight: 600;
    transition: color 0.3s ease;
    cursor: pointer;
}

#inscription .add-participant:hover,
#inscription .remove-participant:hover {
    color: var(--primary-color);
}

#inscription .plus {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

#inscription .form-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 50%;
    justify-self: center;
}



#inscription .action-checkbox-label {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

#inscription .action-checkbox:last-of-type {
    margin-bottom: 1rem;
}

#inscription .action-checkbox:last-of-type .action-checkbox-label {
    text-align: left;
}

#inscription .action-checkbox-label input[type="checkbox"] {
    width: 0.9rem;
    height: 0.9rem;
    margin: 0 0.5rem;
}

#inscription a {
    color: var(--black);
    text-decoration: underline;
    transition: all 0.3s ease;
}

#inscription a:hover {
    color: var(--primary-color);
}

#inscription .participant-2,
#inscription .participant-3 {
    display: none;
}

#inscription .toggle-section {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
    display: flex;
    gap: 3rem;
}

#inscription .toggle-section.showing {
    display: block;
}

#inscription .class-option label {
    padding: 0 !important;
    margin: 0 !important;
}

#inscription .class-option fieldset {
    margin: 0 !important;
}

#inscription .form-single-input.checkboxes {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    gap: 1rem;
}

#inscription .form-single-input.checkboxes label {
    cursor: pointer;
    user-select: none;
}

#inscription .form-single-input.checkboxes input[type="checkbox"] {
    display: none;
}

#inscription input:not(:disabled):hover,
#inscription select:not(:disabled):hover,
#inscription textarea:not(:disabled):hover {
    background-color: white;
}

#inscription input:disabled,
#inscription input:disabled:hover {
    background-color: var(--grey-extra-light);
    box-shadow: none;
    cursor: default;
    opacity: 0.6;
}

#inscription .participant-2.animating-add,
#inscription .participant-3.animating-add {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 0.4s ease;
}

#inscription .participant-2.added,
#inscription .participant-3.added {
    opacity: 1;
    transform: translateY(0);
    margin-top: 3rem;
}

/* Animation END */

#inscription .participant-age-1 label span,
#inscription .participant-age-2 label span,
#inscription .participant-age-3 label span,
#inscription .form-single-input.checkboxes span {
    -webkit-tap-highlight-color: transparent !important;
}

/* Responsive */
@media (hover: none) {
    #inscription .participant-age-1 label span:hover,
    #inscription .participant-age-2 label span:hover,
    #inscription .participant-age-3 label span:hover,
    #inscription .form-single-input.checkboxes span:hover {
        background-color: var(--grey-extra-light);
        color: var(--white);
    }
}


@media screen and (max-width: 1333px) {

}

@media screen and (max-width: 1200px) {

    #inscription h4 {
        font-size: 1rem;
    }

    #inscription .form-single-input.checkboxes span {
        width: 8rem;
    }
}

@media screen and (max-width: 1024px) {



}

@media screen and (max-width: 992px) {
    #inscription .form-wrap {
        padding: 2rem;
    }

    .inscription-form-container {
        width: 100%;
    }


    #inscription .form-group {
        justify-content: center;
    }

    .age-buttons label {

    }

    #inscription input[type="radio"] + span {
        width: 5.8rem;
    }

    #inscription .participant-age-1 label span,
    #inscription .participant-age-2 label span,
    #inscription .participant-age-3 label span {
        font-size: 14px;
        padding: 0.7rem;
    }

    #inscription .form-single-input.checkboxes {
        flex-direction: column;
    }

    #inscription h4 {
        text-align: left;
    }

    #inscription .add-remove-participant {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {


    #inscription .container {
        padding: 0 1rem;
    }

    #inscription .form-wrap {
        padding: 1.5rem;
    }

    #inscription .form-group {
        justify-content: left;
    }

    #inscription form input,
    #inscription form select,
    #inscription form textarea {
        width: 42vw;
    }

    #inscription .section-content-center .section-text {
        text-align: left;
    }

    #inscription .participant-age-1,
    #inscription .participant-age-2,
    #inscription .participant-age-3 {
        justify-content: left;
    }

    /* Age Buttons Area */
    #inscription .participant-age-1 .age-buttons,
    #inscription .participant-age-2 .age-buttons,
    #inscription .participant-age-3 .age-buttons {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 1rem;
        justify-content: left;
    }



    /* Age Buttons */
    #inscription input[type="radio"] + span {
        width: 20vw;
        padding: 0.7rem 1rem;
    }

    /* Cours Buttons */
    #inscription .form-single-input.checkboxes span {
        /*width: 18vw;*/
        /*min-height: 6rem;*/
        display: flex;
        align-items: center;
        justify-content: center;
    }



    #inscription .form-action {
        width: 100%;
        margin-top: 2rem;
    }

    #inscription h4 {
        font-size: 1rem;
        font-weight: bold;
    }

    #inscription .form-message {
        margin: 2rem 1rem 0 1rem;
    }
    /* Cours Common Space */
    #inscription .class-option {
        margin-top: 2rem;
    }

    #inscription .form-action {
        align-items: flex-start;
    }

    #inscription .form-action .btn {
        margin: 0 auto 2rem;
    }

    .form-btn {
        margin: 0 auto;
    }

    #inscription .same-name {
        margin-top: 0;
        margin-bottom: 1rem;
    }

}

@media screen and (max-width: 624px) {
    #inscription .form-group {
        flex-direction: column;
    }

    #inscription form input,
    #inscription form select,
    #inscription form textarea {
        width: 100%;
    }

    /* Age Buttons */
    #inscription input[type="radio"] + span {
        width: 26vw;
        padding: 0.7rem 1rem;
    }

    #inscription #initiation-section.toggle-section.showing,
    #inscription #elem-1-section.toggle-section.showing,
    #inscription #elem-2-section.toggle-section.showing,
    #inscription #elem-3-section.toggle-section.showing,
    #inscription #ado-section.toggle-section.showing,
    #inscription #adult-section.toggle-section.showing,
    #inscription #initiation-section-2.toggle-section.showing,
    #inscription #elem-1-section-2.toggle-section.showing,
    #inscription #elem-2-section-2.toggle-section.showing,
    #inscription #elem-3-section-2.toggle-section.showing,
    #inscription #ado-section-2.toggle-section.showing,
    #inscription #adult-section-2.toggle-section.showing,
    #inscription #initiation-section-3.toggle-section.showing,
    #inscription #elem-1-section-3.toggle-section.showing,
    #inscription #elem-2-section-3.toggle-section.showing,
    #inscription #elem-3-section-3.toggle-section.showing,
    #inscription #ado-section-3.toggle-section.showing,
    #inscription #adult-section-3.toggle-section.showing {
        flex-direction: column;
    }

    #inscription .class-option {
        align-items: center;
        justify-content: center;
    }

    /* Cours Common Space */
    #inscription .class-option {
        width: 100%;
    }

    /* Cours Buttons */
    #inscription .form-single-input.checkboxes span {
        font-size: 14px;
        width: 35vw;
        min-height: 4rem;
    }

    #inscription .toggle-section {
        gap: 0;
    }

    #inscription .form-action,
    #inscription .form-btn,
    #inscription .form-action .btn {
        width: 100%;
    }

    #inscription h3 {
        margin: 3rem 0 1.5rem 0;
    }

    #inscription .form-single-input.checkboxes {
        flex-direction: row;
    }
}

@media screen and (max-width: 480px) {
    #inscription h3 {
        font-size: 1.7rem;
    }


    #inscription .form-message {
        margin: 0 1rem;
    }

    #inscription .info-contact h3 {
        margin: 1.5rem 0;
    }

    /* Age Buttons Area */
    #inscription .participant-age-1 .age-buttons,
    #inscription .participant-age-2 .age-buttons,
    #inscription .participant-age-3 .age-buttons {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
        justify-content: center;
    }

    /* Age Buttons */
    #inscription input[type="radio"] + span {
        width: 38vw;
    }

    /* Cours Buttons */
    #inscription .form-single-input.checkboxes span {
        width: 38vw;
    }

    #inscription .action-checkbox:last-of-type {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 425px) {

    #inscription h3 {
        font-size: 1.5rem;
    }

    #inscription .info-contact h3 {
        margin: 1rem 0 1.5rem 0;
    }

    /* Age Buttons */
    #inscription input[type="radio"] + span {
        width: 36.5vw;
    }

    /* Cours Buttons */
    #inscription .form-single-input.checkboxes span {
        width: 36.5vw;
    }



    #inscription .same-name-checkbox-label,
    #inscription .form-action .action-checkbox-label {
        font-size: 14px;
    }

    #inscription .add-remove-participant {
        font-size: 13px;
        margin-top: 1.5rem;
    }

    #inscription .plus {
        font-weight: bold;
        font-size: 1rem;
        margin-right: 0.3rem;
    }

    #inscription .participant-2.added,
    #inscription .participant-3.added {
        margin-top: 2rem;
    }

    #inscription h3 {
        margin: 2rem 0 1rem;
    }

    #inscription .age-buttons label {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 375px) {

    #inscription h3 {
        font-size: 1.3rem;
    }

    #inscription .same-name-checkbox-label,
    #inscription .form-action .action-checkbox-label {
        font-size: 12px;
    }

    /* Age Buttons */
    #inscription input[type="radio"] + span {
        width: 34.5vw;
    }

    /* Cours Buttons */
    #inscription .form-single-input.checkboxes span {
        width: 34.5vw;
        font-size: 13px;
        padding: 0.5rem;
    }

    #inscription h4 {
        font-size: 0.9rem;
    }

    #inscription .form-action {
        width: 100%;
    }

    #inscription .add-remove-participant {
        font-size: 11px;
    }

    #inscription .plus {
        font-weight: bold;
        font-size: 0.9rem;
        margin-right: 0.2rem;
    }
}

@media screen and (max-width: 320px) {

}

