/* Fonts */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoFlex.woff2') format('woff2-variations'),
    url('../fonts/RobotoFlex.woff') format('woff-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.woff2') format('woff2'),
    url('../fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Oooh Baby';
    src: url('../fonts/OoohBaby.woff2') format('woff2'),
    url('../fonts/OoohBaby.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* Variables */
:root {
    --primary-color: #00CCBD;
    --primary-color-light: #01d7c7;
    --primary-color-dark: #03a99d;
    --secondary-color-extra-light: #0099FF;
    --secondary-color: #0000FF;
    --secondary-color-light: #0066FF;
    --secondary-color-dark: #0000CC;
    --secondary-color-extra-dark: #000066;
    --black: #1a1a18;
    --white: #fff;
    --grey-extra-light: #f0f0f0;
    --grey-light: #d4d4d4;
    --grey-medium: #a0a4a8;
    --grey: #6c757d;
    --grey-dark: #333333;
    --mixed-gradient: linear-gradient(to right, var(--primary-color) 0%, var(--primary-color) 50%, var(--secondary-color) 100%);
    --secondary-color-gradient: linear-gradient(to bottom, var(--secondary-color-light), var(--secondary-color), var(--secondary-color-dark));
    --secondary-color-gradient-h1: linear-gradient(to bottom, var(--secondary-color-extra-light), var(--secondary-color), var(--secondary-color-dark));
    --primary-color-gradient: linear-gradient(to bottom, var(--primary-color-light), var(--primary-color), var(--primary-color-dark));
     --shadow: 0 4px 6px rgba(0, 0, 0, 0.03);
}

* {
	box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
	overflow-x: hidden;
}

html {
    font-size: 16px;
    overflow-y: scroll !important;
}

body {
	font-family: 'Roboto Flex', sans-serif;
	color: var(--black);
	line-height: 1.7;
	margin: 0;
	min-width: 320px;
	position: relative;
	font-weight: 400;
	background: var(--white);
    padding-top: 7rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

input, label, textarea, button {
	font-family: 'Roboto Flex', sans-serif;
	outline: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    line-height: 1.4;
    background: var(--secondary-color-gradient-h1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 3rem;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 2rem;
}

h4 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

h5 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.title-has-subtitle {
    margin-bottom: 10px;
}


.subtitle {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

strong {
    font-weight: 700;
}

ul {
	margin: 0;
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
	color: var(--black);
}

.no-margin {
    margin: 0;
}

.underlined {
    text-decoration: underline;
    font-weight: 600;
    color: var(--primary-color);
}

.underlined:hover {
    opacity: 0.6;
}

ul, ol {
	list-style: none;
}

p {
    margin-bottom: 1rem;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

iframe {
    border: none;
    border-radius: 3px;
    width: 100%;
    display: block;
}

img {
    border-radius: 3px;
}


/* Scroll To Top START */
.scroll-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: 0;
    color: var(--primary-color);
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.scroll-to-top img {
    width: 24px;
    display: block;
    transition: all 0.5s ease;
}

.scroll-to-top img:hover {
    opacity: 0.7;
}
/* Scroll To Top END */

/* Scroll Dots Nav START */
.scroll-dots-nav {
    position: fixed;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

.scroll-dots-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.scroll-dots-nav li a {
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #BBBBBB;
    transition: background-color 0.3s ease;
}

.scroll-dots-nav li a.active {
    background-color: var(--primary-color);
}

.scroll-dots-nav li a:hover {
    background-color: var(--primary-color);
}

.scroll-dots-nav li a::after {
    content: attr(data-label);
    position: absolute;
    right: 140%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    color: var(--black);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-size: 10px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.scroll-dots-nav li a:hover::after {
    opacity: 1;
}
/* Scroll Dots Nav END */

/* Magnific PopUp START */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-title {
    color: var(--white);
    font-size: 16px;
    text-align: center;
    padding: 1rem 0;
}

img.mfp-img {
    border-radius: 3px;
    height: 90vh;
    width: auto;
}

.mfp-with-zoom .mfp-content {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.mfp-with-zoom.mfp-changing .mfp-content {
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}

/* Magnific PopUp END */

.error-404 a {
    text-decoration: underline;
    font-weight: bold;
    color: var(--black);
}

.error-404 a:hover {
    color: var(--primary-color);
}

html {
    margin-right: 0 !important;
}


/* Magnific PopUp END */

/* Responsive */
@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {

    body {
        padding-top: 7rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    .scroll-dots-nav {
        display: none;
    }

    .scroll-to-top {
        right: 0.5rem;
    }

    .scroll-to-top img {
        width: 20px;
    }

    h1 {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 992px) {

}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.3rem;
        margin: 0 0 1.5rem 0;
    }

    h2 {
        font-size: 1.8rem;
    }


}

@media screen and (max-width: 624px) {
    img.mfp-img {
        border-radius: 3px;
        height: auto;
        width: 90vw;
    }


}


@media screen and (max-width: 480px) {


    h1 {
        font-size: 2.1rem;
        margin: 0 0 1.3rem 0;
    }

    h2 {
        font-size: 1.6rem;
    }

    input,
    select,
    textarea {
        padding: 0.8rem;
    }

    .scroll-dots-nav {
        display: none;
    }

    body {
        padding-top: 90px;
    }



}

@media screen and (max-width: 425px) {

    .checkbox-label {
        display: inline-block;
        text-indent: -2em;
        padding-left: 2em;
        font-size: 14px;
    }

    h4 {
        font-size: 1.2rem;
        font-weight: 600;
    }

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {

    h1 {
        font-size: 1.9rem;
        margin-bottom: 1.2rem;
    }

    h2 {
        font-size: 1.4rem;
    }
}

